.table-heading {
  background-color: rgba(85, 6, 85, 0.604);
  font-family: var(--ff-secondary);
  font-size: 2rem;
}

.table-heading th {
  padding: 2rem;
}

.container {
  max-width: 100rem;
  margin-top: 4rem;
  margin-inline: auto;
}

img {
  height: 4rem;
  aspect-ratio: 1;
}

/* reset table */

table tr {
  padding: 3rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
}
