.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c7ed6;
  color: #fff;
  padding: 0px 10px;
}

.btn {
  outline: none;
  border: none;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 10px 22px;
  margin-right: 1rem;
}

.item-amount {
  border: 2px solid #eee;
  padding: 2px 10px;
  background-color: #658e39;
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
}
