* {
  box-sizing: inherit;
}

:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Ubuntu', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--ff-primary);
}

input,
select {
  font: inherit;
}

img {
  max-width: 100%;
}
